* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #eee;
  margin-left: 32px;
}

header {
  padding-block: 32px;
}

form {
  display: flex;
  column-gap: 16px;
  margin-bottom: 16px;
}

.message {
  padding: 4px 16px;
  width: max-content;
  background: gray;
}

.loading {
  background: goldenrod;
}

.list-countries {
  list-style: none;
}

.list-countries li {
  display: flex;
  column-gap: 16px;
  margin-bottom: 8px;
}

.list-countries li button {
  padding-inline: 8px;
}

.country-data h2 {
  margin-bottom: 8px;
}

.country-data p {
  margin-bottom: 4px;
}

.country-data ul {
  margin-bottom: 4px;
  margin-left: 32px;
}

.country-data img {
  margin-top: 12px;
  max-width: 200px;
}
